<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Exam Preparation</title>
  <link rel="stylesheet" href="style.css">
  <style>
    .speak-icon {
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  </style>
</head>

<body>

  <header>
    Exam Preparation
    <i class="fas fa-right-from-bracket" title="Sign Out" onclick="signOut()"
      style="float:right; cursor:pointer; margin-right: 10px;"></i>

  </header>

  <nav>
    <button class="active" onclick="switchTab('summarize')">Summarization</button>
    <button onclick="switchTab('question')">Question Bank</button>
  </nav>
  <div style="text-align: left;">
        <button style="background-color: green; color: white; padding: 10px 20px; border-radius: 8px;"  onclick="redirectToUpgrade()" >
            Upgrade to Pro 🔒
        </button>
    </a>
  </div>
  <!-- Summarization Tab -->
  <div class="container" id="summarize-tab">
    <input type="radio" id="fileTabBtn" name="action" value="upload"><label for="upload">Upload File</label><input type="radio" id="videoTabBtn" name="action" value="insert"><label for="insert">Upload Video</label><br>
    <div id="fileSection">
      <div class="form-group">
        <label>Upload File</label>
        <input type="file" id="fileInput" accept=".txt,.pdf,.docx" />
        <button onclick="handleFileUpload()">Upload</button>
      </div>
    </div>
    <!-- ✅ Video URL Section (Hidden by Default) -->
    <div id="videoSection">
      <div class="form-group">
        <label>Video URL</label>
        <input type="text" id="videoUrl" placeholder="Enter YouTube video URL" />
        <button onclick="getYouTubeVideoID()">Load Video</button>
      </div>
    </div>
    <div class="form-group">
      <label>Preview Content</label>
      <textarea id="contentPreviewSum" rows="5" readonly="true"></textarea>
    </div>

    <div class="form-group">
      <label>Content Word Count:</label>
      <!-- <div id="wordCount">Upload a file to see word count</div> -->
      <input id="wordCount" type="text" placeholder="Upload a file to see word count" readonly="true" />
    </div>
    <div class="form-group">
      <label>Summary Word Limit (min 50, max 50% of content)</label>
      <input type="number" id="summaryLimit" disabled placeholder="e.g. 100" />
    </div>
    <div class="form-group">
      <input type="checkbox" id="bulletpoints" name="bulletpoints" value="Bullet">In Bullet points
    </div>

    <button onclick="showSummary()">Summarize</button>
    <div id="loading" class="hidden">
      <div class="spinner"></div> Summarization is in progress...
    </div>
    <div id="summaryResult" class="result hidden">
      <h3>Summary</h3>
      <div id="summaryText">

      </div>
      <div style="padding-top: 10px;">
        <i id="copyIcon" class="fas fa-copy" title="Copy" style="cursor:pointer;"></i> &nbsp;
        <!-- Speak Icon -->
        <img id="speakIcon" src="https://img.icons8.com/ios-filled/50/speaker.png" class="speak-icon"
          onclick="toggleSpeech()" alt="Speak">
      </div>
    </div>

  </div>

<!-- Question Bank Tab -->
  <div class="container hidden" id="question-tab">
    <input type="radio" id="fileTabBtnqb" name="action" value="uploadqb"><label for="uploadqb">Upload File</label><input type="radio" id="videoTabBtnqb" name="action" value="insertqb"><label for="insert">Upload Video</label><br>
    <div id="fileSectionqb">
      <div class="form-group">
        <label>Upload File</label>
        <input type="file" id="fileInputqb" accept=".txt,.pdf,.docx" />
        <button onclick="handleFileUploadqb()">Upload</button>
      </div>
    </div>
    <!-- ✅ Video URL Section (Hidden by Default) -->
    <div id="videoSectionqb">
      <div class="form-group">
        <label>Video URL</label>
        <input type="text" id="videoUrlqb" placeholder="Enter YouTube video URL" />
        <button onclick="getYouTubeVideoIDqb()">Load Video</button>
      </div>
    </div>

    <div class="form-group">

      <label>Preview Content</label>
      <textarea id="contentPreviewQB" rows="5" readonly="true"></textarea>
    </div>

    <div class="form-group">
      <label>Difficulty Level</label>
      <select id="difficultyLevel">
        <option value="Easy">Easy</option>
        <option value="Hard">Hard</option>
      </select>
    </div>
    <button onclick="generateQuestionBank()">Generate Question Bank</button>
    <div id="loadingQB" class="hidden">
      <div class="spinner"></div> Generating MCQ...
    </div>
    <div class="result hidden" id="questionResult">

      <i class="fas fa-download" title="Download" onclick="downloadText()"
        style="cursor:pointer; font-size: 1.5rem; margin-top: 1rem; display:inline-block;"></i>

      <div id="questionBankResult">

      </div>
    </div>
  </div>


  <!-- JS Libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.4.120/pdf.min.js"></script>
  <script src="https://unpkg.com/mammoth/mammoth.browser.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <!-- Core Script -->
  <script>
    document.getElementById("copyIcon").addEventListener("click", () => {
      const text = document.getElementById("summaryText").innerText;
      navigator.clipboard.writeText(text).then(() => {
        alert("Summary copied to clipboard!");
      }).catch(err => {
        console.error("Failed to copy:", err);
      });
    });

    
    const fileTabBtnqb = document.getElementById("fileTabBtnqb");
    const videoTabBtnqb = document.getElementById("videoTabBtnqb");
    const fileSectionqb = document.getElementById("fileSectionqb");
    const videoSectionqb = document.getElementById("videoSectionqb");
    fileSectionqb.classList.remove("hidden");
    videoSectionqb.classList.add("hidden");
    fileTabBtnqb.onclick = () => {
      fileSectionqb.classList.remove("hidden");
      videoSectionqb.classList.add("hidden");
      clean();
    };

    videoTabBtnqb.onclick = () => {
      videoSectionqb.classList.remove("hidden");
      fileSectionqb.classList.add("hidden");
      clean();
    };

    const fileTabBtn = document.getElementById("fileTabBtn");
    const videoTabBtn = document.getElementById("videoTabBtn");
    const fileSection = document.getElementById("fileSection");
    const videoSection = document.getElementById("videoSection");
    fileSection.classList.remove("hidden");
    videoSection.classList.add("hidden");
    fileTabBtn.onclick = () => {
      fileSection.classList.remove("hidden");
      videoSection.classList.add("hidden");
      clean();
    };

    videoTabBtn.onclick = () => {
      videoSection.classList.remove("hidden");
      fileSection.classList.add("hidden");
      clean();
    };

    let isSpeaking = false;
    let utterance;

    function toggleSpeech() {
      const text = document.getElementById("summaryText").innerText;

      if (!isSpeaking) {
        // Start speaking
        utterance = new SpeechSynthesisUtterance(text);
        utterance.onend = () => {
          isSpeaking = false;
        };
        speechSynthesis.speak(utterance);
        isSpeaking = true;
      } else {
        // Stop speaking
        speechSynthesis.cancel();
        isSpeaking = false;
      }
    }

    function signOut() {
      fetch('/logout', {
        method: 'POST'
      })
        .then(() => {
          window.location.href = '/login';
        })
        .catch(error => {
          console.error('Error during logout:', error);
        });
    }


    let fileText = "";
    let fileTextqb="";

    async function getYouTubeVideoIDqb() {
      const yt_url = document.getElementById('videoUrlqb').value;
      // const regex = /(?:youtube\.com\/watch\?v=|youtu\.be\/)([^&]+)/;
      // const match = yt_url.match(regex);
      // const videoId = match ? match[1] : null;
      if (yt_url.trim() == ''){
        alert('Please enter video url.');
        return;
      }
      const payload = {
        video_url: yt_url
      };
      
      
      fetch('/video_transcript', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      })
        .then(response => response.json())
        .then(data => {
          fileTextqb=data.result;
          document.getElementById('contentPreviewQB').value = fileTextqb;
        })
        .catch(error => console.error(error));
    }

    async function getYouTubeVideoID() {
      const yt_url = document.getElementById('videoUrl').value;
      // const regex = /(?:youtube\.com\/watch\?v=|youtu\.be\/)([^&]+)/;
      // const match = yt_url.match(regex);
      // const videoId = match ? match[1] : null;
      if (yt_url.trim() == ''){
        alert('Please enter video url.');
        return;
      }

      const payload = {
        video_url: yt_url
      };

      fetch('/video_transcript', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      })
        .then(response => response.json())
        .then(data => {
          fileText=data.result;
          document.getElementById('contentPreviewSum').value = fileText;
        })
        .catch(error => console.error(error));
    }

    function switchTab(tab) {
      document.getElementById('summarize-tab').classList.toggle('hidden', tab !== 'summarize');
      document.getElementById('question-tab').classList.toggle('hidden', tab !== 'question');
      clean();
      const buttons = document.querySelectorAll('nav button');
      buttons.forEach(btn => btn.classList.remove('active'));
      if (tab === 'summarize') buttons[0].classList.add('active');
      else buttons[1].classList.add('active');
    }

    function showSummary() {
      const summaryLimit = document.getElementById("summaryLimit").value
      wordLimit = 0
      if (summaryLimit == '') {
        wordLimit = 50
      }
      else {
        wordLimit = parseInt(summaryLimit);
      }

      const loading = document.getElementById('loading');
      const checkbox = document.getElementById('bulletpoints');
      if (checkbox.checked) {
        buttletInstr = 'Please show summary in proper bullet points '
      }
      else {
        buttletInstr = 'Please show summary in paragraph '
      }
      if (fileText.trim() == 'Upgrade to Pro'){
        return;
      }
      if (!fileText.trim()) {
        alert("File content is empty. Please upload a valid file.");
        return;
      }
      loading.classList.remove('hidden'); // Show loader
      const payload = {
        content: fileText,
        word_limit: wordLimit,
        bullet: buttletInstr
      };
      fetch('/summarize_text', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      })
        .then(response => response.json())
        .then(data => {
          document.getElementById('summaryText').innerHTML = data.result;
          document.getElementById('summaryResult').classList.remove('hidden');
        })
        .catch(error => console.error(error))
        .finally(() => {
          loading.classList.add('hidden'); // Hide loader
        });
    }

    function copyToClipboard(elementId) {
      const text = document.getElementById(elementId).innerText;
      navigator.clipboard.writeText(text).then(() => {
        alert("Summary copied to clipboard!");
      });
    }

    function generateQuestionBank() {
      const complexity = document.getElementById("difficultyLevel").value;
      const loading = document.getElementById('loadingQB');
      if (fileTextqb.trim() == 'Upgrade to Pro'){
        return;
      }
      if (!fileTextqb.trim()) {
        alert("File content is empty. Please upload a valid file.");
        return;
      }
      loading.classList.remove('hidden'); // Show loader
      const payload = {
        content: fileTextqb,
        complexity: complexity
      };

      fetch('/generate_questions_text', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(payload)
      })
        .then(response => response.json())
        .then(data => {
          document.getElementById('questionBankResult').innerText = data.result;
          document.getElementById('questionResult').classList.remove('hidden');
        })
        .catch(error => console.error(error))
        .finally(() => {
          loading.classList.add('hidden'); // Hide loader
        });
    }

    function downloadText() {
      const text = Array.from(document.querySelectorAll("#questionTable td:nth-child(2)"))
        .map(td => td.innerText)
        .join("\n");
      const blob = new Blob([text], { type: "text/plain" });
      const link = document.createElement("a");
      link.download = "question_bank.txt";
      link.href = URL.createObjectURL(blob);
      link.click();
    }

    async function handleFileUpload() {
      const input = document.getElementById("fileInput");
      const file = input.files[0];
      const wordCountDisplay = document.getElementById("wordCount");
      const summaryLimitInput = document.getElementById("summaryLimit");

      if (!file) return;

      const ext = file.name.split('.').pop().toLowerCase();

      if (!["txt", "pdf", "docx"].includes(ext)) {
        alert("Only .txt, .pdf, or .docx files are allowed.");
        return;
      }

      if (ext === "txt") {
        fileText = await file.text();
      } else if (ext === "pdf") {
        fileText = await extractTextFromPDF(file);
      } else if (ext === "docx") {
        fileText = await extractTextFromDocx(file);
      }

      document.getElementById("contentPreviewSum").value = fileText;

      const wordCount = fileText.trim().split(/\s+/).length;
      // wordCountDisplay.textContent = `${wordCount} words`;
      document.getElementById("wordCount").value = `${wordCount} words`;

      summaryLimitInput.disabled = false;
      summaryLimitInput.max = Math.floor(wordCount / 2);
      summaryLimitInput.min = 50;
      summaryLimitInput.placeholder = `Max ${Math.floor(wordCount / 2)}, Min 50`;

      summaryLimitInput.oninput = () => {
        const val = parseInt(summaryLimitInput.value);
        if (val < 50 || val > wordCount / 2) {
          summaryLimitInput.style.border = "2px solid red";
        } else {
          summaryLimitInput.style.border = "1px solid #ccc";
        }
      };
    }

    async function handleFileUploadqb() {
      const input = document.getElementById("fileInputqb");
      const file = input.files[0];

      if (!file) return;

      const ext = file.name.split('.').pop().toLowerCase();

      if (!["txt", "pdf", "docx"].includes(ext)) {
        alert("Only .txt, .pdf, or .docx files are allowed.");
        return;
      }

      if (ext === "txt") {
        fileTextqb = await file.text();
      } else if (ext === "pdf") {
        fileTextqb = await extractTextFromPDF(file);
      } else if (ext === "docx") {
        fileTextqb = await extractTextFromDocx(file);
      }

      document.getElementById("contentPreviewQB").value = fileTextqb;

    }

    async function extractTextFromPDF(file) {
      const typedArray = new Uint8Array(await file.arrayBuffer());
      const pdf = await pdfjsLib.getDocument({ data: typedArray }).promise;
      let fullText = "";
      for (let i = 1; i <= pdf.numPages; i++) {
        const page = await pdf.getPage(i);
        const content = await page.getTextContent();
        fullText += content.items.map(i => i.str).join(" ") + " ";
      }
      return fullText;
    }

    async function extractTextFromDocx(file) {
      const arrayBuffer = await file.arrayBuffer();
      const result = await mammoth.extractRawText({ arrayBuffer });
      return result.value;
    }
    function clean(){
      document.getElementById('contentPreviewSum').value=''
      document.getElementById('contentPreviewQB').value=''
      document.getElementById('wordCount').value=''
      document.getElementById('summaryLimit').value=''
      checkbox = document.getElementById('bulletpoints').checked=false;
      fileText=''
      fileTextqb=''
    }
    function redirectToUpgrade() {
        alert('Under development')
    }
  </script>

</body>

</html>